/* External Style */

/* app wide css */
/* *{
  font-family: Arial, Helvetica, sans-serif;
} */

/* class selector -- for debugging purpose */
.red{
  border: solid 1px red;
}

/* custom style */
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* Element Selector*/
header{
  /* style defn */
}

/* ID Selector -[NOT RECOMMENDED]*/
#topNav{
  background-color: #dededf;
  padding: 0;
}

#topNav ul{
  width: 1200px;
  text-align: right;
  margin: 0 auto;
  padding: 12px 0;
}

#topNav ul li {
  display: inline; 
  padding: 0 15px;
}

#topNav ul li a{
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: rgb(0, 44, 91);
  text-decoration: none;
}

.hamburgerMenu{
  display: none;
}
/* TODO: learning about mouse over styles -- pseudo selector*/ 
/* TODO: style the footer section also */

/* class selector - [RECOMMENDED] */
.logoWrapper{
  width: 1200px;
  margin: 0 auto;
  padding: 24px 0;
}

.logoLink{
  display: inline-block;
  width: 240px;
}

#mainNav{
  display: inline-block;
  width: calc(100% - 247px);
  vertical-align: bottom;
  text-align: right;
}

#mainNav ul li{
  display: inline;
}

#mainNav ul li a{
  padding: 16px 20px;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

main{
  width: 100%;
}

.heroWrapper{
  width: 100%;
  /* background-color: #000048; */
  background: rgb(255,25,2);
  /* Css gradient -- Refer:  https://cssgradient.io/ */
  background: linear-gradient(214deg, rgba(255,25,2,1) 0%, rgba(226,201,18,1) 33%, rgba(88,167,193,1) 66%, rgba(155,0,170,1) 100%);
}

.bannerArea{
  width: 1200px;
  margin: 0 auto;
  padding: 13% 0;
}

.bannerArea h1{
  font-size: 42px;
  color: #fff;
}

.primaryBtn{
  color: rgb(65, 65, 65); 
  background-color: #26efe9;
  font-size: 20px; 
  border-radius: 22px; 
  padding: 10px 30px;
  border: solid 1px #26efe9;
}

.introArea{
  width:1200px;
  margin: 0 auto;
  padding: 50px 10px;
}

.introArea h2{
  color:#2f78c4;
  font-size: 36px;
  font-weight: normal;
  line-height: 43px;
}

.careerBox{
  background-color: #000048;
  height: 290px;
}

.careerArea{
  width: 1200px;
  margin:0 auto;
}

.careerBox img{
  float: left;
  width: 520px;
}
.careerMeta{
  margin-left: 520px;
  padding: 60px 30px;
  color: #fff;
}

.secondaryBtn{
  color: #26efe9;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  background-color: none;
  text-decoration: none;
}

.footer{
  clear:both;
}

.introWrapper{
  background: aliceblue url('../images/about-bg.jpeg') no-repeat; 
  background-size: cover; 
  height: 600px;
  text-align: center;
}

.introWrapper h1{
  font-size: 42px;
  color: #000048;
  padding-top:10%;
  text-shadow: 2px 2px 2px #ee0000;
}

.videoWrapper{
  margin: 20px auto;
  text-align: center;
}

.contactForm{
  width: 50%;
  margin:0 auto;
}

.contactForm div{
  padding: 20px;
}

.contactForm label{
  width: 135px;
  display: inline-block;
}

.contactForm input, .contactForm textarea{
  width: 300px;
  padding: 8px 15px;
  display: inline-block;
}

/* attribute selector */
.contactForm button[type='reset']{
  margin-left: 160px;
}


/* Responsive Web Design */
/* CSS3 Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    background-color: red;
  }

  #topNav ul li{
    display: block;
    text-align: left;
  }

  #mainNav{
    display: none;
  }

  .hamburgerMenu{
    display: inline-block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    background-color: yellow;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    background-color: lightcoral;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    background-color: aqua;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    background-color: darkorchid;
  }
}